---
import * as styles from './about.css';
import rigUrl from '@assets/img/rig.jpg';
import groupItems from '@utilities/groupItems';
import { Image } from '@astrojs/image/components';
import LinkGroups from '@components/linkGroups.vue';
import SidePanelLayout from '@layouts/sidePanel.astro';

const types = [
    { id: 'music', name: 'Music' },
    { id: 'development', name: 'Development' },
    { id: 'design', name: 'Design' },
    { id: 'tools', name: 'Tools' }
];

const links = [
    {
        title: 'Auturia Keylab 61 Essential',
        href: 'https://www.arturia.com/products/hybrid-synths/keylab-essential/overview?ref=nblackburn.uk',
        type: 'music'
    },
    {
        title: 'Bitwig Studio',
        href: 'https://bitwig.com?ref=nblackburn.uk',
        type: 'music'
    },
    {
        title: 'Visual Studio Code',
        href: 'https://code.visualstudio.com?ref=nblackburn.uk',
        type: 'development'
    },
    {
        title: 'Fork',
        href: 'https://git-fork.com?ref=nblackburn.uk',
        type: 'development'
    },
    {
        title: 'Affinity Designer',
        href: 'https://affinity.serif.com?ref=nblackburn.uk',
        type: 'design'
    },
    {
        title: 'Figma',
        href: 'https://figma.com?ref=nblackburn.uk',
        type: 'design'
    },
    {
        title: 'Notion',
        href: 'https://notion.so?ref=nblackburn.uk',
        type: 'tools'
    },
    {
        title: '1Password',
        href: 'https://1password.com?ref=nblackburn.uk',
        type: 'tools'
    }
];

const title = 'About';
const groups = groupItems(types, links);
const subTitle = 'A little bit about myself';
---

<SidePanelLayout title={title} subTitle={subTitle}>
    <div class={styles.image}>
        <Image
            src={rigUrl}
            alt="My desktop"
            width={828}
            height={400}
            fit="cover"
            position="center"
            format="webp"
        />
    </div>
    <div class={styles.story}>
        <p class={styles.paragraph}>
            I'm Nathaniel, it's nice to see a new face around here.
        </p>
        <p class={styles.paragraph}>
            I created this little place to share a little about what makes
            me....well me. My story is perhaps a little different from the usual
            as i am entirely self-taught. You see, i have always had a love for
            computers. I started my journey at the age of 13 making little tools
            for people.
        </p>
        <p class={styles.paragraph}>
            Being a developer is not easy, especially when you are self-taught.
            I have been faced so much rejection that it no longer has an effect
            on me. But here is the thing, you have to keep going and use it as a
            driving force. I simply wanted to be here enough that i kept on
            fighting.
        </p>
        <p class={styles.paragraph}>
            My aim is simple, i love making people happy in any way i can. This
            website is one of reflection to show off some of those things in the
            hope that they can reach others.
        </p>
        <p class={styles.paragraph}>
            Have a look around, stay a while and let's build something
            beautiful....together.
        </p>
    </div>
    <LinkGroups groups={groups} slot="sidepanel" />
</SidePanelLayout>
