---
import { Image } from 'astro:assets';
import { sortBy } from '@utilities/sortBy';
import HomeLayout from '@layouts/home.astro';
import { getCollection } from 'astro:content';
import ListCard from '@components/listCard.vue';

const title = 'Home';
const activePage = 'home';
const posts = await getCollection('blog');
const projects = await getCollection('project');
const latestPost = sortBy(posts, (p) => p.data.pubDate)[0];
const latestProject = sortBy(projects, (p) => p.data.pubDate)[0];
const description =
    'Specialist in experiences which empower and bring people together.';
---

<HomeLayout title={title} description={description} activePage={activePage}>
    <Fragment slot="intro">
        <h2>About me</h2>
        <p>
            My name is Nathaniel and I come from the United Kingdom where it
            rains quite a lot but don't let that dampen the mood. I specialise
            in creating experiences which empower people and bring them together
            for good.
        </p>
        <p>
            I have over 10 years of experience and keep looking to expand my
            skills. Recently I started learning music and have released a few
            tracks.
        </p>
    </Fragment>

    <section>
        <h2>Latest project</h2>
        <ListCard
            title={latestProject.data.title}
            description={latestProject.data.description}
            tags={latestProject.data.tags}
            url={latestProject.data.url}
            createdAt={latestProject.data.pubDate}
            baseURL="/projects/tags"
            linkLabel="View project"
        >
            <Image
                src={latestProject.data.thumbnail}
                alt={latestProject.data.title}
                width={768}
                height={200}
                loading="eager"
                format="webp"
                slot="thumbnail"
            />
        </ListCard>
    </section>

    <section>
        <h2>Latest post</h2>
        <ListCard
            title={latestPost.data.title}
            description={latestPost.data.description}
            tags={latestPost.data.tags}
            url={'/blog/' + latestPost.id}
            createdAt={latestPost.data.pubDate}
            baseURL="/blog/tags"
            linkLabel="Read post"
        >
            <Image
                src={latestPost.data.featuredImage}
                alt={latestPost.data.title}
                width={768}
                height={200}
                loading="eager"
                format="webp"
                slot="thumbnail"
            />
        </ListCard>
    </section>
</HomeLayout>
