---
import { Image } from 'astro:assets';
import * as styles from './about.css';
import rigImage from '@assets/img/rig.jpg';
import groupItems from '@utilities/groupItems';
import { stack, stackGroups } from '@config/stack';
import LinkGroups from '@components/linkGroups.vue';
import SidePanelLayout from '@layouts/sidePanel.astro';

const title = 'About';
const layout = '7fr 3fr';
const activePage = 'about';
const subTitle = 'A little bit about myself';
const groups = groupItems(stackGroups, stack);
---

<SidePanelLayout
    title={title}
    subTitle={subTitle}
    activePage={activePage}
    image={rigImage}
    layout={layout}
>
    <div class={styles.image}>
        <Image
            src={rigImage}
            alt="My desktop"
            width={828}
            height={400}
            format="webp"
            loading="eager"
        />
    </div>
    <div class={styles.story}>
        <slot />
    </div>
    <LinkGroups groups={groups} slot="sidepanel" />
</SidePanelLayout>
