---
import '@styles/reset.css';
import '@fontsource/nunito-sans';
import * as styles from './base.css';
import Main from '@components/main.vue';
import Icons from '@components/icons.vue';
import Header from '@components/header.vue';
import Footer from '@components/footer.vue';
import DynamicPalette from '@components/dynamicPalette.vue';
import { getActivePalette } from '@utilities/paletteManager';

export interface Props {
    title: string;
    activePage?: string;
    description?: string;
}

const activePalette = getActivePalette();
const { title, description, activePage } = Astro.props;
---

<html lang="en">
    <head>
        <!-- title -->
        <title>
            {title ? `Nathaniel Blackburn - ${title}` : 'Nathaniel Blackburn'}
        </title>

        <!-- canonical -->
        <link rel="canonical" href={Astro.url} />

        <!-- meta -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />

        <!-- open graph -->
        <meta
            property="og:title"
            content={title
                ? `Nathaniel Blackburn - ${title}`
                : 'Nathaniel Blackburn'}
        />
        <meta property="og:type" content="website" />
        <meta property="og:description" content={description} />
        <meta property="og:url" content={Astro.url} />

        <!-- styles -->
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    </head>
    <body class:list={[styles.body, activePalette]}>
        <DynamicPalette client:load />
        <Icons />
        <Header activePage={activePage} />
        <Main>
            <slot />
        </Main>
        <Footer />
    </body>
</html>
