---
import '@styles/reset.css';
import '@fontsource/nunito-sans';
import * as styles from './base.css';
import Main from '@components/main.vue';
import Icons from '@components/icons.vue';
import Header from '@components/header.vue';
import Footer from '@components/footer.vue';
import getPalette from '@utilities/getPalette';

export interface Props {
    title: string;
    activePage: string;
    description?: string;
}

const { pathname } = Astro.url;
const colorPalette = getPalette();
const { title, description, activePage } = Astro.props;
const pirschCode = import.meta.env.PIRSCH_CODE ?? undefined;
---

<html lang="en">
    <head>
        <!-- title -->
        <title>Nathaniel Blackburn{title ? ` - ${title}` : ''}</title>

        <!-- meta -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />

        <!-- styles -->
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <!-- scripts -->
        {
            pirschCode && (
                <script
                    id="pirschjs"
                    type="text/javascript"
                    src="https://api.pirsch.io/pirsch.js"
                    data-code={pirschCode}
                    defer
                />
            )
        }
    </head>
    <body class:list={[styles.body, colorPalette]}>
        <Icons />
        <Header activePage={activePage} />
        <Main>
            <slot />
        </Main>
        <Footer />
    </body>
</html>
