---
import * as styles from './sidePanel.css';
import PageLayout from '@layouts/page.astro';

export interface Props {
    title: string;
    subTitle?: string;
    activePage: string;
}

const { title, subTitle, activePage } = Astro.props;
---

<PageLayout title={title} subTitle={subTitle} activePage={activePage}>
    <div class={styles.sidePanel}>
        <section class={styles.left}>
            <slot />
        </section>
        <aside class={styles.right}>
            <slot name="sidepanel" />
        </aside>
    </div>
</PageLayout>
