---
import * as styles from './sidePanel.css';
import PageLayout from '@layouts/page.astro';

export interface Props {
    title: string;
    subTitle?: string;
}

const { title, subTitle } = Astro.props;
---

<PageLayout title={title} subTitle={subTitle}>
    <div class={styles.sidePanel}>
        <div class={styles.left}>
            <slot />
        </div>
        <div class={styles.right}>
            <slot name="sidepanel" />
        </div>
    </div>
</PageLayout>
